<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CorePerfTests</key>
		<dict>
			<key>testBuildEngineBasicPerf</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.53</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 12, 2014, 11:09:25 AM</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningCorePerf</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.52</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 13, 2014, 11:34:36 AM</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningOn2DMatrix</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.68</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 12, 2014, 11:09:16 AM</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningOnLinearChain</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.91</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 12, 2014, 2:52:40 PM</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningOnNaryTree</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.38</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 12, 2014, 11:09:20 AM</string>
				</dict>
			</dict>
			<key>testBuildengineAck3_14</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.48</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>NinjaPerfTests</key>
		<dict>
			<key>testChromiumFakeManifestLoading</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.88</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 12, 2014, 9:38:46 AM</string>
				</dict>
			</dict>
			<key>testLLVMOnlyNoExecuteInitialBuild</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.103</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testLLVMOnlyNoExecuteNullBuild</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
