<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CorePerfTests</key>
		<dict>
			<key>testBuildEngineBasicPerf</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.78</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningCorePerf</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.64</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningOn2DMatrix</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.51</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningOnLinearChain</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.54</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
			<key>testBuildEngineDependencyScanningOnNaryTree</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25477</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 7</string>
				</dict>
			</dict>
		</dict>
		<key>NinjaPerfTests</key>
		<dict>
			<key>testChromiumFakeManifestLoading</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.33</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
			<key>testLLVMOnlyNoExecuteInitialBuild</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.09</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
			<key>testLLVMOnlyNoExecuteNullBuild</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>llbuild – Integration 8</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
