//===-- Common.xcconfig ---------------------------------------------------===//
//
// This source file is part of the Swift.org open source project
//
// Copyright (c) 2017 Apple Inc. and the Swift project authors
// Licensed under Apache License v2.0 with Runtime Library Exception
//
// See http://swift.org/LICENSE.txt for license information
// See http://swift.org/CONTRIBUTORS.txt for the list of Swift project authors
//
//===----------------------------------------------------------------------===//

INSTALL_BASE_PATH = $(DEVELOPER_INSTALL_DIR:default=$(LOCAL_APPS_DIR)/Xcode.app/Contents/Developer)
DT_SHARED_FRAMEWORKS_INSTALL_DIR = $(INSTALL_BASE_PATH)/../SharedFrameworks
DT_TOOLCHAIN_INSTALL_DIR = $(INSTALL_BASE_PATH)/Toolchains/XcodeDefault.xctoolchain

// Set the default product name.
PRODUCT_NAME = $(TARGET_NAME)

// Set the versioning system to "Apple Generic" for all targets.
VERSIONING_SYSTEM = apple-generic-hidden
CURRENT_PROJECT_VERSION = 1

// Do not always search user paths.
ALWAYS_SEARCH_USER_PATHS = NO

// Only use API safe for use in app extensions.
APPLICATION_EXTENSION_API_ONLY = YES

// Headermaps are disabled.
USE_HEADERMAP = NO

// llbuild has no @objc APIs, so the generated header is not needed
SWIFT_OBJC_INTERFACE_HEADER_NAME =
SWIFT_INSTALL_OBJC_HEADER = NO

// The major component of the user module version should be the date it was last changed (YYMMDD.N, where N is usually 0 but can be used if multiple API changes are made on the same day).
SWIFT_USER_MODULE_VERSION = 230727.0

// Enable InstallAPI.
SUPPORTS_TEXT_BASED_API = YES
TAPI_ENABLE_MODULES = YES
TAPI_VERIFY_MODE = ErrorsOnly

// Manually opt targets into installation.
SKIP_INSTALL = YES

ALLOW_TARGET_PLATFORM_SPECIALIZATION = YES
SUPPORTED_PLATFORMS = $(AVAILABLE_PLATFORMS)
SUPPORTS_MACCATALYST = YES

MACOSX_DEPLOYMENT_TARGET = 10.13
IPHONEOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
TVOS_DEPLOYMENT_TARGET = 9.0

GCC_C_LANGUAGE_STANDARD = c11
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++

#include "Version.xcconfig"

COMMON_PREPROCESSOR_DEFINITIONS = $(LLBUILD_VERSION_DEFINITIONS)
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -Wimplicit-fallthrough -Wsign-compare -Wall

// Flag to easily enable SKIP_INSTALL for llbuild's CLI tools
SKIP_INSTALL_CLI_TOOLS = NO

// MARK: Signing Support

// Enable code signing, if appropriate.
LLBUILD_ENABLE_SIGNING = NO

LLBUILD_CODE_SIGN_IDENTITY = $(LLBUILD_CODE_SIGN_IDENTITY__$(LLBUILD_ENABLE_SIGNING))
LLBUILD_CODE_SIGN_IDENTITY__NO =
LLBUILD_CODE_SIGN_IDENTITY__YES = -

// The entitlements to use for binaries.
CODE_SIGN_ENTITLEMENTS = $(LLBUILD_CODE_SIGN_ENTITLEMENTS__producttype_eq_$(PRODUCT_TYPE:identifier))
LLBUILD_CODE_SIGN_ENTITLEMENTS__producttype_eq_com_apple_product_type_tool = $(LLBUILD_TOOL_CODE_SIGN_ENTITLEMENTS)
LLBUILD_TOOL_CODE_SIGN_ENTITLEMENTS =

#include? "CommonOverrides.xcconfig"
