//===-- Version.xcconfig --------------------------------------------------===//
//
// This source file is part of the Swift.org open source project
//
// Copyright (c) 2018 Apple Inc. and the Swift project authors
// Licensed under Apache License v2.0 with Runtime Library Exception
//
// See http://swift.org/LICENSE.txt for license information
// See http://swift.org/CONTRIBUTORS.txt for the list of Swift project authors
//
//===----------------------------------------------------------------------===//

// Define the C API version
//
// See products/libllbuild/include/llbuild/version.h.in for version history
LLBUILD_C_API_VERSION = 4

// We define both the version value and a named version.  The latter is useful
// in Swift conditional compilation, where we don't currently have the ability
// to do more complex numeric comparisons.
LLBUILD_VERSION_DEFINITIONS = LLBUILD_C_API_VERSION=$(LLBUILD_C_API_VERSION) LLBUILD_C_API_VERSION_$(LLBUILD_C_API_VERSION)
